<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container justify-content-around">
        <a class="navbar-brand" href="/">CONFESIONARIO V2</a>
        <form action="/prueba" method="GET" class="form-inline justify-content-around">
            <input class="form-control mr-sm-2" type="search" placeholder="Coincidencias" name="text" maxlength="150">
            <button class="btn btn-primary  my-2 my-sm-0" type="submit">Buscar</button>
        </form>
    </div>
</nav>